.contactsArt {
  height: auto;
  transition: 0.3s all ease-in;
  // border: white 1px solid;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-around;

  // padding: 0.5rem 1rem;

  .underline {
    transition: 0.3s all ease-in;
    align-self: center;
    box-shadow: 0 0 1rem #ffffffe3;
    margin: 0.5rem auto;
    height: 2px;
    width: 96%;
    background-color: #8fafd465;
    ::after {
      content: "";
    }
  }

  .contactsCont {
    padding: 0.75rem;
    // border: springgreen solid 1px;
    .itemConteiner {
      display: flex;
      align-items: center;
      $d: 3.4rem;
      $d1: $d * 0.65;
      p,
      a {
        color: rgba(255, 255, 255, 0.822);
        font-size: 1.6rem;
        font-weight: 400;
      }
      a {
        text-decoration: underline;
      }
      div {
        margin-right: 1rem;
        border: 0.25rem solid rgba(255, 255, 255, 0.575);
        box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.712);
        border-radius: 50%;
        padding: 0.25rem;
        width: $d;
        height: $d;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .contacts__item {
        border: none;
        // border-radius: 50%;
        $d: 5rem;
        width: $d1;
        height: $d1;
        font-size: 0.5rem;
      }
    }
  }
}

.light .contactsArt {
  .itemConteiner {
    p,
    a {
      color: rgba(7, 7, 7, 0.925);
      text-shadow: 0 0 2px rgba(7, 7, 7, 0.541);
    }
    div {
      border: 0.25rem solid rgba(7, 7, 7, 0.671);
      box-shadow: 0 0 0.5rem rgba(7, 7, 7, 0.671);
    }
  }
  .underline {
    box-shadow: 0 0 1rem rgba(7, 7, 7, 0.753);
    background-color: rgba(7, 7, 7, 0.219);
  }
}
