.contactsArt {
  h2 {
    text-align: center;
    text-shadow: 0 0 4px white;
    font-size: 1.2rem;
  }
  .messageForm,
  .messages {
    width: 95%;
    margin: 0.5rem auto;
    padding: 0.5rem;
    border: rgb(22, 198, 221) solid 2px;
    border-radius: 0.5rem;
    box-shadow: white 0 0 1rem;
    .input {
      width: 100%;
      margin: 0.25rem auto;
    }
    textarea {
      resize: none;
    }
    .submitBtn {
      margin-top: 0.5rem;
      width: 7rem;
      border-radius: 0.16rem;
      background: rgba(99, 200, 240, 0.877);
      box-shadow: 0 0 0.5rem white;
    }
  }
  .messages {
    .message {
      h3 {
        padding: 0 1rem 0 0.5rem;
        display: inline-block;
        text-shadow: 0 0 4px white;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }
      p {
        overflow-x: auto;
        text-indent: 20px;
      }
      .messageButtons {
        display: flex;
        justify-content: center;
        // border: 1px solid rgba(99, 200, 240, 0.877);
        .messageBtn {
          margin: 0.5rem;
          width: 7rem;
          border-radius: 0.16rem;
          background: rgba(99, 200, 240, 0.877);
          box-shadow: 0 0 0.5rem white;
        }
      }
    }
  }
}
